* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#navbar {
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  text-align: center;
  color: white;
}
.link:hover {
  background-color: white;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

/* mobile view */

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    background-color: rgba(45, 26, 224, 0.6);
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .link {
    font-size: 1rem;
    width: 100%;
    padding: 20px;
    color: rgb(243, 243, 247);
  }
  footer {
    color: rgb(243, 243, 247);
    background-color: rgba(45, 26, 224, 0.6);
  }
}

/* tablet view */

@media only screen and (min-width: 600px) {
  nav {
    width: 100%;
    background-color: rgba(236, 58, 14, 0.6);
  }
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  .link {
    font-size: 1.1rem;
    width: 25%;
    padding: 20px 10px;
    color: rgb(243, 243, 247);
  }
  .link:hover {
    font-size: 1.3rem;
    padding: 18px;
    letter-spacing: 0.2rem;
  }
  footer {
    color: rgb(243, 243, 247);
    background-color: rgba(236, 58, 14, 0.6);
  }
}

/* dakstop view */

@media only screen and (min-width: 1240px) {
  nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #navbar {
    display: flex;
    justify-content: space-between;
  }
  .link {
    font-size: 1.1rem;
    width: 25%;
    padding: 20px 10px;
    color: rgb(243, 243, 247);
  }
  .link:hover {
    font-size: 1.3rem;
    padding: 18px;
    letter-spacing: 0.2rem;
  }
  .link {
    font-size: 1.2rem;
    width: 25%;
    padding: 20px;
  }
  .link:hover {
    font-size: 1.4rem;
    padding: 18px;
    letter-spacing: 0.5rem;
  }
  footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
}
