* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }
  img {
    width: 100%;
  }
  .h1 {
    margin: 5px 0;
    padding: 10px 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-weight: 4rem;
    background-color: rgba(45, 26, 224, 0.6);
  }
  .workouts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  .photo {
    width: 90%;
    margin: 10px auto;
  }
  .paragraph {
    width: 90%;
    margin: 10px auto;
  }
  li {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
  }
  .h1 {
    margin: 7px 0;
    padding: 10px 10px;
    font-size: 1.8rem;
    color: black;
    text-align: center;
    font-weight: 4rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(236, 58, 14, 0.6);
    color: rgb(243, 243, 247);
  }
  .workouts {
    text-align: center;
    overflow: hidden;
  }

  .photo {
    width: 45%;
    margin: 1px auto;
  }
  .paragraph {
    width: 90%;
    margin: 10px auto;
  }
  li {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1240px) {
  #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
  }
  .h1 {
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 6rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
  .workouts {
    text-align: center;
    overflow: hidden;
  }

  .photo {
    width: 24%;
    margin: 1px auto;
  }
  .paragraph {
    width: 90%;
    margin: 10px auto;
  }
  li {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
